{% extends "user/user_base.html" %}
{% block title %}Change Password{% endblock %}
{% block body %}
    <form method="POST">
        {{ form.csrf_token }}
        <div>
            {{form.old_password.label}} {{form.old_password(size=20)}}
        </div>
        <div>
            {{form.new_password.label}} {{form.new_password(size=20)}}
        </div>
        <div>
            {{form.new_password_confirm.label}} {{form.new_password_confirm(size=20)}}
        </div>
        <div>
            {{form.submit}}
        </div>
    </form>

{% endblock %}