{% extends "user/user_base.html" %}
{% block title %}Details of {{job.job_name}}{% endblock %}
{% block body %}
    <h2>Details of {{job.job_name}}</h2>
    <h3>{{message}}</h3>
    <div class="container" id="details">
        <p><b>Job Name:</b> {{job.job_name}}</p>
        <p><b>Job Description:</b> {{job.job_description}}</p>
        <a href="{{url_for('update_job',job_id=job.id)}}" class="btn btn-warning">Update job</a>
        <a href="{{url_for('delete_job',job_id=job.id)}}" class="btn btn-danger">Delete Job</a>
    </div>
{% endblock %}